# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Data and Models
data/
*.pt
*.pth

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS Specific
.DS_Store
Thumbs.db
